@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.navbar {
    background-color: #FAFAFA;
    border: 0px;
    font-size: 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #afafaf;
    background-color: #e7e7e7;
}
    
.navbar-default .navbar-brand {
    color: #F3A500;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

body {
    padding-top: 150px;
    color: #7B7B7B;
    font-family: 'Bitter', serif;
    font-size: 20px;
}

.header {
    padding: 40px 15px;
    position: relative;
}

#headshot {
    max-height: 325px;
    max-width: 325px;
    border-radius: 175px;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.name {
    max-height: 380px;
    color: #F3A500;
    position: relative;
    padding-top: 95px;
    text-align:center;
}

.name h1 {
    font-size: 50pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tagline {
    margin-top: 45px;
    text-align: center;
}

.tagline p {
    font-weight: 500;
    font-size: 22px;
    color: #7B7B7B;
    font-family: 'Monteserrat', sans-serif;
}

.content {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    color: #F3A500;
    font-size: 45px; 
}



.footer {
    background-color: #FAFAFA;
    color: #c5c5c5;
    font-size: 15px;
    height: 50px;
    padding: 15px;
    margin-top: 60px;
    text-align: center;
    max-width: 100%;
}

    
/*
grey: #7B7B7B
orange: #F3A500 
*/