@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@media screen and (max-width: 991px) {
  /* line 19, scss/main.scss */
  body .header {
    margin-top: 25px;
  }
  /* line 23, scss/main.scss */
  body #logo {
    display: none;
  }
  /* line 27, scss/main.scss */
  body .name {
    margin-top: 25px;
  }
  /* line 31, scss/main.scss */
  body .name h1 {
    font-size: 40pt;
  }
  /* line 37, scss/main.scss */
  body .content {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  /* line 48, scss/main.scss */
  body #main-container {
    background-attachment: scroll;
  }
  /* line 52, scss/main.scss */
  body .heading {
    font-size: 32px;
  }
  /* line 56, scss/main.scss */
  body #logo {
    display: none;
  }
  /* line 60, scss/main.scss */
  body .content {
    padding-top: 25px;
    font-size: 17px;
  }
  /* line 65, scss/main.scss */
  body .footer {
    font-size: 13px;
  }
  /* line 69, scss/main.scss */
  body .logos {
    font-size: 40px;
  }
}
/* line 75, scss/main.scss */
#main-container {
  color: #f3a500;
  z-index: 0;
}

/* line 80, scss/main.scss */
body {
  color: #7b7b7b;
  font-family: "Bitter", serif;
  font-size: 20px;
}

/* line 86, scss/main.scss */
#splashContainer {
  background: url("../images/background.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

/* line 95, scss/main.scss */
.typing {
  max-width: 400px;
  height: auto;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(123, 123, 123, 0.2);
  border-radius: 10px;
  padding: 5px;
}

/* line 107, scss/main.scss */
#typingAnimation {
  color: #c5c5c5;
}

/* line 111, scss/main.scss */
.header {
  padding: 40px 15px;
  height: auto;
  margin: auto;
}

/* line 117, scss/main.scss */
#headshot {
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  border-radius: 50%;
}

/* line 127, scss/main.scss */
.name {
  max-height: 380px;
  position: relative;
  text-align: center;
  margin-top: 90px;
}

/* line 134, scss/main.scss */
.name h1 {
  font-size: 50pt;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

/* line 140, scss/main.scss */
.tagline {
  margin-top: 45px;
  text-align: center;
}

/* line 145, scss/main.scss */
.tagline p {
  font-weight: 500;
  font-size: 22px;
  color: #7b7b7b;
  font-family: "Montserrat", sans-serif;
}

/* line 152, scss/main.scss */
.content {
  padding-top: 70px;
  padding-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 30px;
  color: #7b7b7b;
}

/* line 163, scss/main.scss */
#logo {
  display: none;
  position: fixed;
  top: 100px;
  float: left;
  z-index: -10;
}

/* line 171, scss/main.scss */
.logos {
  font-size: 50px;
  color: #7b7b7b;
  padding-top: 30px;
}
/* line 176, scss/main.scss */
.logos a, .logos a:link, .logos a:visited, .logos a:active {
  color: #7b7b7b;
}

.bookshelf {
  display: inline-block;
}

/* line 182, scss/main.scss */
.contact {
  padding-top: 30px;
}

/* line 186, scss/main.scss */
.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #f3a500;
  font-size: 45px;
}

/* line 193, scss/main.scss */
.footer {
  color: #c5c5c5;
  font-size: 15px;
  padding: 15px;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 0;
}

/* line 202, scss/main.scss */
#typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  /* line 213, scss/main.scss */
  0% {
    opacity: 1;
  }

  /* line 214, scss/main.scss */
  50% {
    opacity: 0;
  }

  /* line 215, scss/main.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  /* line 218, scss/main.scss */
  0% {
    opacity: 1;
  }

  /* line 219, scss/main.scss */
  50% {
    opacity: 0;
  }

  /* line 220, scss/main.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  /* line 223, scss/main.scss */
  0% {
    opacity: 1;
  }

  /* line 224, scss/main.scss */
  50% {
    opacity: 0;
  }

  /* line 225, scss/main.scss */
  100% {
    opacity: 1;
  }
}

.blog-posts {
  display: flex;
  margin: 20px 0;
}

.contact-icon {
  width: 10px;
  padding-right: 25px;
}

#resume {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.95,0.95);
}

#resume:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1,1);
}

.pixels-photo img {
  max-width: 100%;
}

.mobile {
  display: none;
}

@media (max-width: 1100px) {
  .mobile {
    display: block;
  }
  .non-mobile {
    display: none;
  }
}