body {
    
    background-color: #29050b;
    font-family: sans-serif;
    margin-top: 20px;
    color: white;
}

#title {
    width: 100%;
    text-align: center;
}
    
.preview img {
    
    border: 1px solid white;
    
    padding: 2px;
    
    height: 50px;
    
    margin-left: 15px;
    
    margin-right: 15px;
}

.view img {
    
    border: 1px solid white;
    
    padding: 2px;
    
    height: 500px;
    
    margin-top: 20px;
}