body {
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    font-family: source-sans-pro, sans-serif;
    font-size: 16px;
    color: black;
}

#splash {
    height:100%;
    width: 100%;
    position: relative;
    background-color: #545454;
}

#background {
    height: 100%;
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}

#headshot {
    position: absolute;
    height: 400px;
    width: 380px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
}
    
    
#introText {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
    
#introText h1 {
    font-family: yesteryear, cursive;
    text-align:center;
    color: #ffffff;
}

#introText p {
	font-size: 23pt;
	text-align: center;
	color: #ffffff;
	position: absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	top: 65%;
}

#banner {
    position: relative;
    background-color: #545454;
    width: auto;
    height: 75px;
}
    
#content {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 10px;
    font-size: 120%;
    text-align: center;
}

#footer {
    position: relative;
    background-color: #545454;
    width: auto;
    height: 75px;
}
    
    