[class*="icon-"] {
    display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-laptop {
	background-position: 0 0;
	width: 20px;
}
.icon-heart {
	background-position: -36px 0;
	width: 20px;
}
